div.wrapper{
  width: 60%;
  min-width: 400px;
  background-color: transparent;
  background-image: radial-gradient(rgba(64, 64, 64,1) , rgba(64, 64, 64,0));
  border-radius: 10px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}
