* {
  font-family: 'Roboto', Arial, sans-serif;
  /*color: #616161;*/
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
}

body.main {
  background: url('assets/voluntyr_ background_30.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.responsive {
  height: auto;
  margin-right:auto;
  margin-left:auto;
  display: block;
}

.center {
  text-align: center;
}

input{
  box-sizing: border-box;
}

.alert {
  font-size: 12px;
  padding-bottom: 20px;
}

.alert-success{
  color: green;
}

.alert-danger {
  color: red;
}

re-captcha {
  display: inline-block;
  text-align: center;
  padding-bottom: 10px;
}

span.emphasis {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
}

.modal-backdrop {
  opacity: 0.5;
}

.modal-open .modal {
  opacity: 1;
}

.modal-dialog {
  transform: none !important;
}
