* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.main {
  background-color: #cce0ff;
}

div.logreg {
  text-align: center;
}
.responsive {
  width: 60%;
  height: auto;
  margin-right:auto;
  margin-left:auto;
  display: block;
}

.center {
  text-align: center;
}


button {
  background-color: #1976d2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

input{
  text-align: center;
  padding: 8px 12px;
  text-decoration: none;
  font-size: 16px;
}




