<div class="modal-header">
  <h1 class="modal-title" style="color: black">Rate an Event</h1>
  <button type="button" class="close" aria-label="Close" (click)="this.activeModal.dismiss('Cross click');">
    <!--<span aria-hidden="true">&times;</span>-->
  </button>
</div>
<div class="modal-body">
  <h4>Select a rating, 5 being the best and 1 being the worst, for the {{event.title}} event with
    {{event.organization.name}} on
    {{event.date}} at {{event.location}}.
  </h4>
  <h4>
    Please consider the following:
  </h4>
  <ul>
    <li>How smoothly was the event managed? </li>
    <li>How {{event.organization.name}} prepared for the event?</li>
    <li> Did the event description leave out any important details?</li>
  </ul>
  <div style="display: flex; justify-content: center; margin: 5%">
    <form>
      <select class="form-control" [formControl]="this.ratingForm" id="rating" required style="width: 150px">
        <option [value]="1">1 Star</option>
        <option [value]="2">2 Stars</option>
        <option [value]="3">3 Stars</option>
        <option [value]="4">4 Stars</option>
        <option [value]="5">5 Stars</option>
      </select>
    </form>
  </div>
  <div style="display: flex; justify-content: center; margin: 1%">
    <button class="btn btn-primary" (click)="this.onSubmitRating()"
            [disabled]="this.ratingForm.invalid" style="width: 150px">Submit
      Rating</button>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="this.activeModal.close('Close click');">Close</button>
</div>
