<div class="wrapper">
  <h3><fa-icon [icon]="faBullhorn"></fa-icon>{{ event.title }}</h3>
  <h4 *ngIf="showOrg"><fa-icon [icon]="faLandmark"></fa-icon>
    <a routerLink="/Organization/{{event.organization.id}}">{{ event.organization.name }}</a>
  </h4>
  <h5>
    <fa-icon [icon]="faRating"></fa-icon> {{event.organization.rating}} star rating from
          {{event.organization.raters}} volunteers
  </h5>
  <h5><fa-icon [icon]="faMapPin"></fa-icon>{{ event.location }}</h5>
  <h5>
    <fa-icon [icon]="faCalendarAlt"></fa-icon>
    {{ event.date | date: "fullDate" }}
  </h5>
  <h5>
    <fa-icon [icon]="faClock"></fa-icon>
    {{ event.start_time | date: "short" }} to {{ event.end_time | date: "short" }}
  </h5>
  <p>
    <fa-icon [icon]="faBullhorn"></fa-icon>
    {{event.description}}
  </p>
  <button *ngIf="!signedup" type="button" (click)="signUpEvent()" class="btn btn-primary btn-lg">Register for this event</button>
  <button *ngIf="signedup" type="button" (click)="signUpEvent()" class="btn btn-primary btn-lg">Unregister for this event</button>
</div>
