<div class="wrapper">
  <section class="center responsive new-event-wrapper">
    <h1>Create a New Event</h1>
    <form #f="ngForm" (ngSubmit)="createEvent()">
      <h3>
        Event Title
      </h3>
      <input
        type="text"
        minlength="1"
        class="form-control"
        name="title"
        [(ngModel)]="newEvent.title"
        required
      />
      <h3>
        Location
      </h3>
      <input
        type="text"
        minlength="1"
        class="form-control"
        name="location"
        [(ngModel)]="newEvent.location"
        required
      />
      <h3>
        Date
      </h3>
      <input
        type="date"
        class="form-control"
        name="date"
        [(ngModel)]="newEvent.date"
        required
      />
      <h3>
        Start Time
      </h3>
      <input
        type="datetime-local"
        class="form-control"
        name="start_time"
        [(ngModel)]="newEvent.start_time"
        required
      />
      <h3>
        End Time
      </h3>
      <input
        type="datetime-local"
        class="form-control"
        name="end_time"
        [(ngModel)]="newEvent.end_time"
        required
      />
      <h3>
        Description
      </h3>
      <textarea
        [(ngModel)]="newEvent.description"
        minlength="1"
        class="form-control"
        name="description"
        required
      ></textarea>
      <div>
        <button type="submit" class="btn btn-primary btn-lg" [disabled]="!f.valid">Submit</button>
      </div>
      <br>
      <div>
        <button class="btn btn-primary" (click)="routeToDashBoard()">
          Return to Dashboard
        </button>
      </div>
    </form>
  </section>
</div>
