.wrapper-rooms {
  float: left;
  background-color: #666666;
  background-image: radial-gradient(rgba(64, 64, 64, 1), rgba(64, 64, 64, 0));
  display: block;
  align-items: center;
  border-radius: 0.8em 0 0 0.8em;
  padding: 1em;
  margin: 0;
  text-align: center;
  color: white;
  width: 25em;
  min-height: 40em;
}

.wrapper-chat {
  min-width: 50em;
  width: 50%;
  display: inline-block;
  margin: 0 auto;
  min-height: 40em;
  /*padding: 1em;*/
}

.outer {
  min-width: 20em;
}

.chat-rooms {
  margin: 2em auto;
  list-style-type: none;
  padding: 1em;
  width: 22em;
}

.chat-rooms li {
  color: black;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: .3em 0.1em;
  height: 1.6em;
  border-radius: 4px;
}

.chat-rooms li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .2em;
}

.chat-rooms li.selected {
  background-color: rgb(104, 23, 8);
  color: white;
}

.chat-rooms li.selected:hover {
  background-color: rgb(156, 39, 8);
  color: white;
}

.chat-rooms .name {
  padding: 0.2em 0;
  position: relative;
  left: 8px;
}

.chat-rooms .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0.8em 0.7em;
  background-color:#405061;
  line-height: 1em;
  position: absolute;
  left: -1px;
  top: -1px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}
