<div class="outer">
  <div class="wrapper-rooms">
    <h1>Voluntyr Chat</h1>
  <!--  TODO: Add no chat-room placeholder -->
    <button *ngIf="selectedChatRoom" class="btn-danger" (click)="leaveChat()">Leave Chat</button>
    <ul class="chat-rooms">
      <li *ngFor="let chat of chatRooms" [class.selected]="chat.id === selectedChatRoom?.id"
          (click)="selectChatRoom(chat)">
        {{chat.name}}
      </li>
    </ul>
  </div>
  <div *ngIf="selectedChatRoom != null">
    <div class="wrapper-chat">
      <app-chat-room [(chatRoom)]="selectedChatRoom"></app-chat-room>
    </div>
    <div class="wrapper-members">
      <app-chat-members [(chatRoom)]="selectedChatRoom"></app-chat-members>
    </div>
  </div>
</div>
