div.wrapper{
  width: 60%;
  min-width: 400px;
  background-color: #666666;
  background-image: radial-gradient(rgba(64, 64, 64,1) , rgba(64, 64, 64,0));
  border-radius: 10px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  color: white;
}

h3 {
  color: white;
}

p {
  color: white;
}
