<div class="wrapper container">
  <div class="inner">
    <h1>Account Details</h1>
    <h2>
      <fa-icon [icon]="faUser"></fa-icon>
      {{ volunteer.first_name }}
      {{ volunteer.last_name }}
    </h2>
  </div>
  <!--<p><fa-icon [icon]="faCalendarPlus"></fa-icon> {{ volunteer.birthday }}</p>-->
  <div class="row">
    <app-calendar class="col-md-6" [events]="events"></app-calendar>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6"><h1>Registered Events</h1></div>
        <div class="col-md-6">
          <button class="btn btn-primary" (click)="routeToEvents()">
            Register or Unregister<br />for events
          </button>
          <button class="btn btn-primary" (click)="routeToRatings()">
            Rate Past Events
          </button>
        </div>
      </div>
      <app-individual-event-summary
        *ngFor="let event of events"
        [event]="event"
      ></app-individual-event-summary>
      <h3 *ngIf="this.events?.length == 0">
        You aren't registered for any events. Click on "Register Event" to signup for the upcoming events.
      </h3>
    </div>
  </div>
</div>
