<div class="navtext">
  &nbsp;
  <div class="leftnav">
    <a routerLink="/">
      Home
    </a>
    &nbsp;
    <a *ngIf="showVolunteer" routerLink="/Events">
      Events
    </a>
    &nbsp;
    <a *ngIf="showOrganization" routerLink="/Organization">
      Organization
    </a>
    &nbsp;
    <a *ngIf="showVolunteer" routerLink="/Volunteer">
      Volunteer
    </a>
    &nbsp;
    <a routerLink="/Support">
      Support
    </a>
    &nbsp;
    <a routerLink="/Account">
      Account
    </a>
  </div>
  <div class="rightnav">
    <ng-container *ngIf="!logged">
      <a routerLink="email-input" class="rightnav ">
        Login
      </a>
    </ng-container>
    <ng-container *ngIf="logged">
      <a routerLink="/" class="rightnav" (click)="navLogout()">
        Logout
      </a>
    </ng-container>
  </div>
</div>
