<body>
  <div class="navtext">

    &nbsp;
    <a routerLink="login">
      <span>Login</span>
    </a>
    &nbsp;
    <a routerLink="Home">
      <span>Home</span>
    </a>
    &nbsp;
    <a routerLink="Events">
      <span>Events</span>
    </a>
    &nbsp;
    <a routerLink="Organizations">
      <span>Organizations</span>
    </a>
    &nbsp;
    <a routerLink="Support">
      <span>Support</span>
    </a>
    &nbsp;
    <a routerLink="Account">
      <span style="text-align:right">Account</span>
    </a>

  </div>
</body>
