div{
  position:center;

}

div.navtext{
  height: 50px;
  background-color: #537aa1;
  padding: 16px;
}

#block_container
{
    text-align:center;
}

.leftnav{
  float:left;
}

.rightnav{
  float:right;
}

a {
  color: white;
  margin: 0;
  text-decoration: none;
}

a.rightnav{
  padding-left:7px;
}
