  <div class="navtext">
    &nbsp;<div class = "leftnav">
      <a routerLink="Home">
        Home
      </a>
      &nbsp;
      <a routerLink="Events">
        Events
      </a>
      &nbsp;
      <a routerLink="Organizations">
        Organizations
      </a>
      &nbsp;
      <a routerLink="Support">
        Support
      </a>
      &nbsp;
      <a routerLink="Account">
        Account
      </a>
    </div>
    <div class =rightnav>
      <a routerLink="VolunteerLogin" class="rightnav">
        Volunteer Login
      </a>
      &nbsp;
      <a routerLink="OrganizationLogin" class="rightnav">
        Organization Login
      </a>
    </div>
  </div>

