<div
  style="border:1px solid black;
background-color: lightcoral;"
>
  <div>
    <p><fa-icon [icon]="faHandHoldingHeart"></fa-icon> {{ event.title }}</p>
    <p><fa-icon [icon]="faMapPin"></fa-icon> {{ event.location }}</p>
    <p>
      <fa-icon [icon]="faClock"></fa-icon> {{ event.start_time | date: "shortTime" }}
    </p>
    <p>
      <fa-icon [icon]="faCalendarAlt"></fa-icon> {{ event.date | date: "fullDate" }}
    </p>
    <p><fa-icon [icon]="faBullhorn"></fa-icon> {{ event.description }}</p>
  </div>
  <br />
</div>
