<div class="wrapper">
  <div>
    <h3><fa-icon [icon]="faHandHoldingHeart"></fa-icon> {{ event.title }}</h3>
    <h4><fa-icon [icon]="faMapPin"></fa-icon> {{ event.location }}</h4>
    <h5>
      <fa-icon [icon]="faClock"></fa-icon>
      {{ event.start_time | date: "shortTime" }} to {{ event.end_time | date: "shortTime" }}
    </h5>
    <h5>
      <fa-icon [icon]="faCalendarAlt"></fa-icon> {{ event.date | date: "fullDate" }}
    </h5>
    <p><fa-icon [icon]="faBullhorn"></fa-icon> {{ event.description }}</p>
  </div>
</div>
