<div class="logreg">
  <form [formGroup]="loginForm" (ngSubmit)="verifyLogin()">
    <h3 class="login">Email</h3>
    <input placeholder="Email" type="text" formControlName="emailControl">
    <h3 class="login">Password</h3>
    <input placeholder="Password" type="password" formControlName="passwordControl" appHidePassword>
    <a class="no-account" routerLink="../register">Don't have an account? </a>
    <alert> </alert>
  </form>
  <re-captcha
    (resolved)="resolved($event)"
    [siteKey]="CAPTCHAKEY"
  ></re-captcha>
  <br>
  <button class="login" (click)="verifyLogin()">Login</button>
</div>
