<div class="wrapper responsive">
  <div class="center inner">
    <h1>Edit Your {{event?.title}} Details</h1>
    <form [formGroup]="loginForm">
      <div class="form-group">
        <alert> </alert>
        <h3 style="text-align: left">Event Title</h3>
        <input
          type="text"
          class="form-control"
          name="title"
          formControlName="title"
          style="width: 50%; height: 27.5px"
        />
      </div>
      <div class="form-group">
        <h3 style="text-align: left">Location</h3>
        <input
          type="text"
          class="form-control"
          name="location"
          formControlName="location"
          style="width: 50%; height: 27.5px"
        />
      </div>
      <div class="form-group">
        <h3 style="text-align: left">Date</h3>
        <input
          type="date"
          class="form-control"
          name="date"
          formControlName="eventdate"
          style="width: 50%; height: 27.5px"/>
      </div>
      <div class="form-group">
        <h3 style="text-align: left">Start Time</h3>
        <input
        type="datetime-local"
        class="form-control"
        name="startime"
        formControlName="starttime"
        style="width: 50%; height: 27.5px">
      </div>
      <div class="form-group">
        <h3 style="text-align: left">End Time</h3>
        <input
        type="datetime-local"
        class="form-control"
        name="endtime"
        formControlName="endtime"
        style="width: 50%; height: 27.5px">
      </div>
      <div class="form-group">
        <h3 style="text-align: left">Description</h3>
        <br />
        <textarea
          class="form-control"
          name="description"
          formControlName="description"
          onchange="unsavedEdits = true"
        ></textarea>
      </div>
      <div>
        <button class="btn btn-primary btn-lg" type="submit" (click)="updateEditedEvent()">Submit</button>
      </div>
      <div>
        <button class="btn btn-primary" (click)="routeToDashBoard()">
          Return to Dashboard
        </button>
      </div>
      <div>
      </div>
    </form>
  </div>
</div>
<div class="wrapper responsive">
  <div class="center inner">
    <h1>
      Registered Volunteers
    </h1>
    <h4>
      {{numberOfVols}} volunteer(s) have registered for your {{event?.title}}.
    </h4>
    <button (click)="messageVolunteers()" class="btn btn-lg btn-primary"> Email all the Registered Volunteers </button>
    <h4>
      Here are the Registered Volunteers:
    </h4>
    <h5>
      <ol>
        <li *ngFor="let volunteer of volunteers">{{volunteer.name}}</li>
      </ol>
    </h5>
  </div>
</div>


