
<div
  style="border:1px solid black;
background-color: lightcoral;"
>
  <section class="form">
    <h1>Edit Event</h1>
  <form [formGroup]="loginForm" (ngSubmit)="updateEditedEvent()">
    <div class="form-group">
      <alert> </alert>
      <label>Event Title:</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="event.title"
        formControlName="title"
      />
    </div>
    <div class="form-group">
      <label>Location:</label>
      <input
        type="text"
        class="form-control"
        name="location"
        [(ngModel)]="event.location"
        formControlName="location"
      />
    </div>
    <div class="form-group">
      <label>Date:</label>
      <input
        type="date"
        class="form-control"
        name="date"
        [(ngModel)]="event.date"
        formControlName="eventdate"
      />
    </div>
    <div class="form-group">
      <label>Start Time:</label>
      <input
        type="datetime-local"
        class="form-control"
        name="start_time"
        formControlName="endtime"
        [(ngModel)]=event.start_time|date:"Y-m-d"
      />
    </div>
    <div class="form-group">
      <label>End Time:</label>
      <input
        type="datetime-local"
        class="form-control"
        name="end_time"
        [(ngModel)]="event.end_time"
        formControlName="endtime"
      />
    </div>
    <div class="form-group">
      <label>Description:</label>
      <br />
      <textarea
        [(ngModel)]="event.description"
        class="form-control"
        name="description"
        formControlName="description"
      ></textarea>
    </div>
    <div>
      <button type="submit" (click)="updateEditedEvent()">Submit</button>
    </div>
    <div>
      <button class="btn btn-primary" (click)="routeToDashBoard()">
        Return to Dashboard
      </button>
    </div>
    <div>
    </div>
  </form>
  <br />
  </section>
</div>


