<div class="wrapper-recover responsive">
  <div class="center message-volunteers-wrapper">
      <form [formGroup]="recoverForm" (ngSubmit)="sendRecoverEmail()">
         <h3>Forgot your password?</h3>
          <h4>Enter your email and we will send you an email to recover it.</h4>
        <input type="email" formControlName="emailControl" class="form-control" required>
        <alert></alert>
      </form>
      <button type="button" (click)="sendRecoverEmail()" class="btn btn-primary btn-lg">Send</button>
    </div>
    <div *ngIf="emailsent">
      <h3>Check your email for a unique recovery url.</h3>
      <a class="resend" (click)="sendRecoverEmail()">Didn't receive one? Resend Email</a>
    </div>
</div>
