.wrapper {
  display: flex;
  align-content: center;
  margin: 0 10%;
}

.wrapper-left {
  background-color: #666666;
  background-image: radial-gradient(rgba(64, 64, 64,1) , rgba(64, 64, 64,0));
  display: block;
  align-content: center;
  border-radius: 10px;
  padding: 15px;
  width: 40%;
  /*min-width: 468px;*/
  margin: auto auto;
  text-align: left;
  color: white;
  padding-left: 2% !important;
  padding-right: 2% !important;
  /*float: left;*/
}

.children {
  display: flex;
}
.child {
  margin: 0 2.5%;
}

p.child {
  display: inline;
}


h1, h3 {
  text-align: center !important;
  margin: 20px 0;
}

.wrapper-right {
  background-color: #666666;
  background-image: radial-gradient(rgba(64, 64, 64,1) , rgba(64, 64, 64,0));
  display: block;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
  color: white;
  padding-left: 2% !important;
  padding-right: 2% !important;
  /*float: left;*/
}
