<button (click)="toggle()" id="bt">
    {{buttonName}}
</button>



<h3>Name</h3>
<input type="text" [formControl]="name">
<h3>Email</h3>
<input type="text" [formControl]="email">
<h3>Password</h3>
<input type="text" [formControl]="password">
<h3> ---</h3>
<ng-container *ngIf="showOrg">
  <h3>Address</h3>
<input type="text" [formControl]="address">
  <h3>Phone Number</h3>
<input type="text" [formControl]="phonenumber">
  <h3>---</h3>
</ng-container>

<button (click)="verifyReg()">Register</button>
